<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page - Login</title>
    <link rel="stylesheet" href="style.landingpage.css">
</head>

<header>
    <div class="fondo">
        <p>COMIC VERSE</p>
    </div>
</header>

<body>
    <div class="form-container">
        <p class="title">Welcome Back</p>
        <form id="loginForm" class="form">
        <input type="email" id="username" class="input" placeholder="Email">
        <input type="password" id="password" class="input" placeholder="Password">
            
        <p class="page-link">
        </p>
        <button type="submit" class="form-btn">Log in</button>
        </form>
        <p class="sign-up-label">
        Have an account?<a href="register.html">Register</a>
        </p>
    </div>

    <script src="script.login.js"></script>

</body>
</html>